<% unless @q.blank? %>
  <%= search_form_for @q,  class: "input-group", url:{:controller=>'jobs', :action=>'search'},  html:{id: "job_search", :remote=>true} do |f| %>
  <%= f.search_field :searchjob_cont, class:"form-control", id: "search-input", placeholder:"好工作，都在这！" %>
  <div class="input-group-btn">
    <%= f.submit "搜索",  class:"btn btn-default", id: "btn-search"%>
  </div>
  <% end %>
<% end %>
