<div class="col-sm-2 sidebar">
  <ul class="nav nav-sidebar">
    <% if isUserDashBoard %>
    <li>
    <%= link_to("岗位管理", admin_jobs_path, class: "btn ")%>
    </li>
    <li>
      <%= link_to("岗位浏览", admin_jobs_path({isUserDashBoard:true}), class: "btn btn-primary btn_menu")%>
    </li>
    <% else %>

    <li>
    <%= link_to("岗位管理", admin_jobs_path, class: "btn btn-primary  btn_menu")%>
    </li>
    <li>
      <%= link_to("岗位浏览", admin_jobs_path({isUserDashBoard:true}), class: "btn ")%>
    </li>
    <% end %>
  </ul>
</div>
