<div class="container-fluid">
<div >
  <table class="table">
    <thead>
      <td>#</td>
      <td>个人简介</td>
      <td>简历</td>
    </thead>
    <tbody>

      <% @resumes.each do |resume| %>
      <tr>
        <td>
          #
        </td>
        <td>
          <%= simple_format(resume.content) %>
        </td>
        <td>
          <%= link_to("下载简历", resume.attatchment_url,  class: "btn_resume btn btn-primary")%>
          <%= link_to("删除", job_resume_path(resume.job, resume), method: :delete, data:{confrim:"Are you sure to delete your resume?"},  class: "btn btn-danger")%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
