// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vertical-center{
 display: table-cell;
 float: none;
 vertical-align: middle;
}

.resume_container{
  margin: 50px 50px 100px 50px;

}

.btn_upload_resume{
  background: #00c7b6 !important;
  margin-top: 50px;
  border: none !important;
}

.resume_uplaoder{
  
}
